# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Generated folders
Program 1/downloads/
Program 1/output/
Program_2/downloads/
Program_2/output/

# Audio files
*.mp3
*.wav

# Environment variables
.env

# macOS system files
.DS_Store

